version: 2.1
orbs:
  docker: circleci/docker@3.0.1
  cypress: cypress-io/cypress@5.0.1
jobs:
  lint:
    docker:
      - image: cimg/node:24.9
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm install -D
      - run:
          name: Run lint
          command: npm run lint
workflows:
  lint_cy_docker:
    jobs:
      - lint
      - cypress/run:
          name: cy-run
          install-browsers: true
          working-directory: "/home/circleci/project"
          start-command: "npm run build && npm run serve"
          cypress-command: "npx cypress run --browser chrome --config baseUrl=http://localhost:4173"
      - docker/publish:
          name: docker-build
          image: $CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME
          deploy: false
          requires:
            - lint
            - cy-run
          filters:
            branches:
              ignore: master
      - docker/publish:
          name: docker-build-publish
          image: $CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME
          tag: $CIRCLE_SHA1,latest
          update_description: true
          requires:
            - lint
            - cy-run
          filters:
            branches:
              only: master
